<ion-header-bar align-title="center" class="bar-positive">
    <a ui-sref="tab.mylib" class="button button-clear icon ion-android-arrow-back"></a>
	<h2 class="title">
        修改密码
    </h2>	
</ion-header-bar>
<ion-view>
	<ion-content>
	<div class="list list-inset">
			<label class="item item-input">
				<input type="password" placeholder="新密码" ng-model="info.password">
			</label>
			<label class="item item-input">
				<input type="password" placeholder="再输一遍新密码" ng-model="info.rePassword">
			</label>
	</div>
	<div class="list list-inset">
			<label class="item" style="border: 0px;">
			<button class="button button-positive button-block" ng-click="save()">保存</button>
			</label>
	</div>
	</ion-content>
</ion-view>